.env
gen_post.py
test_columns.py
test_facebook.ipynb
test_ig_fb_workflow.ipynb
test_instagram.ipynb
test_gen_post.ipynb
test_gen_post_page.ipynb
test_main.ipynb
test_final_app.ipynb
test_gen_reels_1row.ipynb
test_gen_reels_2rows.ipynb
test_gen_reels_6rows.ipynb
test_gen_reels_multirow.ipynb
test_gen_reels_6_rows_2large.ipynb
test_gen_reels_6rows_1large.ipynb
test_gen_reels_2rows_tb.ipynb
test_gen_reels_2columns.ipynb
test_gen_reels_4columns_2large.ipynb
test_gen_reels_4columns.ipynb
test_gen_reels_1column.ipynb
test.ipynb
test_create_reel_multirow.py
test_gen_reels_4rows.ipynb
upload_to_S3.ipynb
/auto_post_images
/auto_post_reels/reel_images
__pycache__/
*.pyc
*.pyo
*.pyd
